{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Creation d'un nouvel utilisateur</h1>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('user_accueil') }}">Retour à la liste</a>
    </div>
{% endblock %}
