{% extends "base.html.twig" %}

{% block content %}
<div class="card clickable" style="width: 18rem;" onclick="window.open('https://www-info.iut2.univ-grenoble-alpes.fr/licence-pro-mi/')">
    <img src="/images/iut2_info.png" class="card-img" alt="logo IUT2">
    <div class="card-body">
        <h1 class="card-title"><i class="fas fa-code"></i> Licence Pro MI AW</h1>
        <h2 class="card-title"><i class="fab fa-symfony"></i> Module MI5</h2>
    </div>
</div>
{% endblock %}
