{% extends "base.html.twig" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="alert alert-dark col-md-12">
            <h1><i class="fas fa-store"></i> Boutique / 3 rayon(s)</h1>
            {% trans %}Hello{% endtrans %}
        </div>
    </div>
    <div class="row">
    {% for item in categories %}
            <div class="col-4">
                <a href="{{ path ('rayon_page', {'idCategorie':item.id}) }}">
                <div class="card clickable" style="width: 18rem;" >
                    <img src="{{ asset(item.visuel) }}" class="card-img-top" alt="Fruits">
                    <div class="card-body">
                        <h4 class="card-title" >{{ item.libelle }}</h4>
                        <p class="card-text"><i>{{ item.texte }}</i></p>
                    </div>
                </div>
                </a>
            </div>
    {% endfor %}
    </div>
</main>
{% endblock %}